#myid {
    background-color: blue;
    color: white;
    text-align: center;
}

.myclass {
    background-color: aqua;
    color: blue;
    width: 20%;
    height: 10%;
    border-radius: 20%;
    border-color: blue;
    font-family: cursive;
}

.myinfo {
    color: blue;
    font-family: cursive;
}