* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #050404;
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/homeimg.png);
    background-size: cover;
    background-position: center;
}

.container {
    margin: 10px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0px 40px;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.text-header {
    margin-top: 15%;
    font-size: 25px;
}

.text-header h1 {
    margin-top: 10px;
    font-size: 45px;
}

.text-header h1 span {
    color: red;
}

/* ------------------ about ---------------- */
#about {
    padding: 80px 0px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 30%;
    /* border: 1px solid red; */
}

.about-col-1 img {
    width: 100%;
    border-radius: 20px;
}

.about-col-2 {
    flex-basis: 65%;
    /* border: 1px solid red; */
}

.about-col-2 p {
    margin-top: 20px;
}

.sub-title {
    font-size: 45px;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0px;
}

.tab-links {
    margin-right: 60px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

.tab-links::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: -8px;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-content {
    margin-top: 40px;
    display: none;
}

.tab-content li {
    list-style: none;
    margin: 20px 0px;
}

.tab-content li span {
    color: rgb(192, 7, 177);
    font-size: 12px;
    font-weight: 600;
}

.active-tab {
    display: block;
}

/* --------------------services------------------------ */
#services {
    margin: 30px 0px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.service-list div {
    background-color: #262626;
    padding: 40px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.service-list div i {
    font-size: 50px;
}

.service-list div h1 {
    margin: 20px 0px;
    font-weight: 900;
}

.service-list div p {
    font-size: 13px;
    text-align: left;
    font-weight: 600;
}

.service-list div a {
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 600;

}

.service-list div:hover {
    background-color: red;
    transform: translateY(-10px);
}

/* -------------------portfolio---------------- */
#portfolio {
    margin: 80px 0px;
}

.my-work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
    overflow: hidden;
}

.my-work .work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.my-work .work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* position: relative; */
    display: block;
    transition: transform 0.5s;
}

.layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), red);
    width: 100%;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    transition: all 0.5s;
    overflow: hidden;
    border-radius: 10px;
}

.layer h3 {
    font-weight: 900;
}

.layer p {
    margin: 30px 0px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.layer a {
    background-color: white;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
}

.layer a i {
    color: red;
}

.work:hover .layer {
    height: 100%;
}

.work img:hover {
    transform: scale(1.1);
}

.btn {
    text-decoration: none;
    color: white;
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid red;
    padding: 14px 50px;
    border-radius: 10px;
    font-size: 15px;
    transition: background 0.5s;
}

.btn:hover {
    background-color: red;
}

/* -------------------contact section---------------- */
.contact-left {
    /* border: 1px solid red; */
    flex-basis: 35%;
}

.contact-right {
    /* border: 1px solid red; */
    flex-basis: 60%;
}

.contact-left p {
    margin: 30px 0px;
}

.contact-left p i {
    color: red;
    font-size: 25px;
    margin-right: 10px;
}

.social-media {
    margin-top: 40px;
}

.social-media i {
    font-size: 30px;
    margin-right: 20px;
    color: #ababab;
    transition: transform 0.5s;
}

.social-media i:hover {
    color: red;
    transform: translateY(-5px);
}

.btn2 {
    display: inline-block;
    background-color: red;
}

.contact-right form {
    width: 100%;
}

.contact-right form input,
form textarea {
    width: 100%;
    margin: 15px 0px;
    padding: 15px 0px;
    padding-left: 15px;
    outline: none;
    border: none;
    background-color: #262626;
    border-radius: 10px;
    color: white;
    resize: none;
}

.btn3 {
    font-size: 20px;
    padding: 14px 60px;
    margin-top: 10px;
}

.copyright {
    background-color: #262626;
    text-align: center;
    padding: 25px 0px;
}

.copyright p {
    font-weight: 600;
}

.copyright p i {
    color: red;
}

.msg {
    margin-top: -15px;
    color: green
}

nav .fa-solid {
    display: none;
}

/*-------------------------- media quairy ------------------------------*/
@media only screen and (max-width:600px) {
    #header {
        background-image: url(images/phonlogo.png);
    }

    nav .fa-solid {
        display: block;
    }

    body {
        background-color: black;
    }

    .logo {
        width: 130px;
    }

    .text-header {
        margin-top: 100%;
        font-size: 20px;
    }

    .text-header h1 {
        font-size: 30px;
    }

    nav {
        position: relative;
    }

    nav ul {
        background-color: red;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 200px;
        padding-top: 40px;
        transition: right 0.5s;
    }

    nav ul .fa-xmark {
        position: absolute;
        top: 0px;
        left: 50px;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 15px 0px;
    }

    nav ul li a {
        font-size: 23px;
    }

    nav .fa-solid {
        font-size: 25px;
    }

    .about-col-1 {
        flex-basis: 100%;
        /* border: 1px solid red; */
    }

    .about-col-2 {
        flex-basis: 100%;
        /* border: 1px solid red; */
    }

    .tab-titles p {
        margin-right: 30px;
    }

    .contact-left {
        flex-basis: 100%;
    }

    .contact-right {
        flex-basis: 100%;
    }

    .contact-right .btn2 {
        display: block;
    }

    .copyright p {
        font-size: 13px;
    }

}